.invisible_container {
  display: none;
}

label.image_select_icon {
  display: block;
  margin: 5px 0 5px 0;
  line-height: 30px;
}

label.image_select_icon img {
  display: inline-block;
  vertical-align: top;
  width: 30px;
}

label.image_select_icon p {
  display: inline-block;
  vertical-align: top;
  margin: 0.53px 0 0 5px;
}

label.image_select_icon a {
  color: #000000;
  text-decoration: none;
}

div.upload_preview_container {
  width: 200px;
}
